.wrapper {
    display: flex;
    flex-direction: row
}

.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 640px;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 10px 20px;
}
.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #ccc;
    padding: 12px 17px;
}
.table_dark td {
    color: #ccc;
    border-bottom: 1px solid #ccc;
    border-right:1px solid #ccc;
    padding: 7px 17px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}

.group {
    position: relative;
    margin-bottom: 30px;
}

input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 75%;
    border: none;
    border-bottom: 1px solid #ccc;
}
input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {

    top: -15px;
    font-size: 14px;
    color: #5264AE;
}


/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 320px;
}
.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

form {
    margin-top: 10px;
}

button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background: #EDB749;
    box-shadow: 0 7px 20px rgba(237, 183, 73);
    color: white;
    transform: translateY(-3px);
}

.four {
    padding: 30px 20px;
    text-align: center;
}
.four a{
    text-decoration: none;
    color: #EDB749;
}
.four a:active{
    text-decoration: none;
    color: #EDB749;
}
.four h1 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: #EDB749;
    font-size: 50px;
    font-weight: normal;
    padding: 8px 20px 7px 20px;
    border-top: 4px solid;
    border-left: 4px solid;
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.big {
    font-size: 1.2em;
  }
  
  
  /* Custom dropdown */
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .custom-dropdown select {
    cursor:pointer;
    background-color: #252F48;
    color: #EDB749;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;	
    border: 0;
    margin-bottom: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
    
  
  .custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,.4);
  }
  p {
    font-family: 'Montserrat', sans-serif;
  }